body {
  width: 350px;
  height: 400px;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

main {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

/* login form*/
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#loading {
  position: absolute;
  top: -7px;
  color: rgb(5, 199, 5);
}

#error {
  position: absolute;
  top: -7px;
  color: rgb(243, 38, 38);
}

#login .form_group {
  margin-bottom: 20px;
}

#login label {
  display: block;
  margin-bottom: 5px;
}

#login input {
  height: 20px;
}

#sharing input {
  width: 75%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: palegreen;
  outline: none;
}

#sharing input:focus {
  outline: none;
}

#accounts {
  height: 260px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

#accounts::-webkit-scrollbar {
  display: none;
}

#accounts p {
  border: 1px solid gainsboro;
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

#accounts p:hover {
  border-color: palegreen;
}

#saveAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: palegreen;
  border: none;
  height: 30px;
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
}

button:focus {
  outline: none;
  border: none;
}

.flex-container{
  display: flex;
  justify-content: space-around;
}

.logout{
  border: 1px solid grey;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer !important;
  width: 100px;
}

.logout a{
  text-decoration: none;
  color: black;
}

.fullscreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Admin View */
.adminView{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 30px;
}

.x{
  border: 1px solid grey;
  height: 100px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.x a{
  text-decoration: none;
  color: black;
}